@import "components/flexbox";

.trackRow {
  //transition: all 500ms ease;
  //box-sizing: border-box;

  @include flexbox;
  @include align-items(center);
  height: 80px;
  border-bottom: 1px solid #ccc;

  > img {
    padding: 1px;
  }
}

.trackRow-albumCover {
  width: 80px;
  text-align: center;
}

.trackRow-details {
  @include flex(4);

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.trackRow-trackName {
  //font-weight: 200;
}

.trackRow-artistName {
  font-weight: 200;
}

.trackRow-voteWrapper {
  width: 80px;
  text-align: center;

  .trackRow-voted {
    width: 60px;
    height: 60px;
    font-size: 30px;
    background-color: #fff;
    color: #315481;
    border-radius: 15px;
    border: 1px solid #315481;

    .trackRow-voteCurrent {
      display: inline;
    }

    .trackRow-addOne {
      display: none;
    }
  }

  .trackRow-vote {
    width: 60px;
    height: 60px;
    font-size: 30px;
    background-color: #315481;
    color: #fff;
    border-radius: 15px;
    border: 1px solid #315481;
    cursor: pointer;

    .trackRow-voteCurrent {
      display: inline;
    }

    .trackRow-addOne {
      display: none;
    }

    &:hover {
      background-color: #3f7eb8;

      .trackRow-voteCurrent {
        display: none;
      }

      .trackRow-addOne {
        display: inline;
      }

    }

    &:focus {
      outline: 0;
    }
  }
}