@import "components/flexbox";

@font-face {
    font-family: 'Open Sans';
    src: url('/font/OpenSans-Light-webfont.eot');
    src: url('/font/OpenSans-Light-webfont.eot?') format('embedded-opentype'), url('/font/OpenSans-Light-webfont.woff') format('woff'), url('/font/OpenSans-Light-webfont.ttf') format('truetype'), url('/font/OpenSans-Light-webfont.svg') format('svg');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Open Sans';
    src: url('/font/OpenSans-Regular-webfont.eot');
    src: url('/font/OpenSans-Regular-webfont.eot?') format('embedded-opentype'), url('/font/OpenSans-Regular-webfont.woff') format('woff'), url('/font/OpenSans-Regular-webfont.ttf') format('truetype'), url('/font/OpenSans-Regular-webfont.svg') format('svg');
    font-weight: normal;
    font-weight: 400;
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

body {
    background-color: #315481;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiB2aWV3Qm94PSIwIDAgMSAxIiBwcmVzZXJ2ZUFzcGVjdFJhdGlvPSJub25lIj48bGluZWFyR3JhZGllbnQgaWQ9Imxlc3NoYXQtZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPjxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiMzMTU0ODEiIHN0b3Atb3BhY2l0eT0iMSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzkxOGU4MiIgc3RvcC1vcGFjaXR5PSIxIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2xlc3NoYXQtZ2VuZXJhdGVkKSIgLz48L3N2Zz4=);
    background-image: -webkit-linear-gradient(top, #315481, #918e82 100%);
    background-image: -moz-linear-gradient(top, #315481, #918e82 100%);
    background-image: -o-linear-gradient(top, #315481, #918e82 100%);
    background-image: linear-gradient(to bottom, #315481, #918e82 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333333;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0;
    overflow: hidden;
}

#container {
    margin: auto;
    padding: 0 20px;
    position: relative;
    width: 100vw;

    @media screen and (min-width: 80em) {
        max-width: 80em;
    }
    
    > div {
        display: flex;
        flex-direction: column;
        height: 100vh;
    }
}

#containerHeader {
    @include flexbox();
    @include flex(0 0 200px);
}

#containerBody {
    @include flexbox();
    @include flex(1 1 auto);
    @include flex-direction(row);
    padding: 20px 0;
}

    #containerBody-left {
        @include flexbox();
        @include flex(1 1 auto);
        @include flex-direction(column);

        margin-right: 30px;
    }

    #containerBody-right {
        @include flexbox();
        @include flex(0 0 400px);
        @include flex-direction(column);
    }




a {
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    color: #5db9ff;
    cursor: pointer;
    text-decoration: none;
}

a:hover {
    color: #239da8;
}

a:active {
    color: #555555;
}

a:focus {
    outline: none;
}


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: 400;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    line-height: 48px;
}

h2 {
    font-size: 28px;
    line-height: 32px;
}

h3 {
    font-size: 24px;
    line-height: 28px;
}

h4 {
    font-size: 20px;
    line-height: 24px;
}

h5 {
    font-size: 14px;
    line-height: 20px;
    color: #cccccc;
    text-transform: uppercase;
}

h6 {
    color: #aaaaaa;
}

p {
    font-size: 16px;
    line-height: 24px;
}

sub,
sup {
    font-size: .8em;
}

sub {
    bottom: -0.2em;
}

sup {
    top: -0.2em;
}

b {
    font-weight: bold;
}

em {
    font-style: italic;
}

a, img, button {
    outline: none;
}
