
#content-container {
    position: absolute;
    top: 200px;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    -webkit-transition: all 200ms ease-out;
    -moz-transition: all 200ms ease-out;
    -o-transition: all 200ms ease-out;
    transition: all 200ms ease-out;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background: #fff;
    opacity: 1;
}

@media screen and (min-width: 40em) {
    #content-container {
        right: 300px;
    }
}


.searchBox {
    margin: 0;
    font-family: 'Open Sans', "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: 400;
    color: #333333;
    font-size: 35px;
    width: 100%;
    padding: 6px 10px;
    border: 0;
    border-bottom: 1px solid #ccc;
}

.searchBox:focus {
    outline: 0;
}