@import "components/flexbox";

#menu {
    @include flex(1 1 auto);
    margin-right: 10px;

    @media screen and (min-width: 60em) {
       margin-right: 30px;
    }

    @media screen and (min-width: 80em) {
        margin-right: 50px;
    }
}

#menu .list-todos {
    @include flexbox();
    @include flex-direction(row);
    @include flex-wrap(wrap);
    overflow: auto;

    .trackRow {
        border: none;
        @include flex(0 0 100%);

        @media screen and (min-width: 60em) {
            @include flex(0 0 49%);
            margin-right: 2%;

            &:nth-child(2n+1) {
                margin-right: 0;
            }
        }

        @media screen and (min-width: 80em) {
            @include flex(0 0 32%);
            margin-right: 2%;

            &:nth-child(2n+1) {
                margin-right: 2%;
            }

            &:nth-child(3n+1) {
                margin-right: 0;
            }
        }

        
    }

    .trackRow-albumCover {
        margin-right: 10px;
        width: 60px;

        img {
            height: 60px;
            width: 60px;
        }
    }

    .trackRow-details {
        font-size: 12px;
        color: #fff;
    }

    .trackRow-voteWrapper {
        width: 50px;

        .trackRow-vote, .trackRow-voted {
            width: 40px;
            height: 40px;
            font-size: 20px;
        }
    }
}

#menu .header {
    color: #fff;
    border-bottom: 1px solid #fff;
    flex: 1 0 100%;
    font-size: 20px;
    padding: 5px;
}


#menu .btns-group,
#menu .btns-group-vertical {
    margin: 2em auto 2em;
    width: 80%;
}

#menu .btns-group .btn-secondary,
#menu .btns-group-vertical .btn-secondary {
    font-size: 12px;
    line-height: 16px;
    padding-top: .5em;
    padding-bottom: .5em;
}

#menu .btns-group-vertical .btn-secondary {
    word-wrap: break-word;
    word-break: break-all;
    -ms-word-break: break-all;
    word-break: break-word;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
    padding-right: 2.5em;
    text-align: left;
    text-indent: 0;
    white-space: normal;
    width: 100%;
}

#menu .btns-group-vertical .btn-secondary + .btn-secondary {
    margin-top: .5rem;
}

#menu .btns-group-vertical .btn-secondary + .btn-secondary:before {
    position: absolute;
    top: -0.5rem;
    right: 50%;
    bottom: auto;
    left: auto;
    width: 1px;
    height: 0.5rem;
    background: #5a7ca6;
    content: '';
}

#menu .btns-group-vertical .btn-secondary [class^="icon-"],
#menu .btns-group-vertical .btn-secondary [class*=" icon-"] {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    bottom: auto;
    left: auto;
    width: auto;
    height: auto;
    line-height: 20px;
}

#menu .list-todos a {
    box-shadow: rgba(255, 255, 255, 0.15) 0 1px 0 0;
    display: block;
    line-height: 1.5em;
    padding: .75em 2.5em;
    position: relative;
}

#menu .list-todos .count-list {
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    -o-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 1em;
    float: right;
    font-size: .7rem;
    line-height: 1;
    margin-top: .25rem;
    margin-right: -1.5em;
    padding: .3em .5em;
}

#menu .list-todos [class^="icon-"],
#menu .list-todos [class*=" icon-"] {
    font-size: 14px;
    line-height: 20px;
    float: left;
    margin-left: -1.5rem;
    margin-right: .5rem;
    margin-top: .1rem;
    width: 1em;
}

#menu .list-todos .icon-lock {
    font-size: 12px;
    line-height: 16px;
    margin-top: .2rem;
    opacity: .8;
}

#menu .list-todos .list-todo {
    color: rgba(255, 255, 255, 0.4);
}

#menu .list-todos .list-todo:hover,
#menu .list-todos .list-todo:active,
#menu .list-todos .list-todo.active {
    color: #ffffff;
}

#menu .list-todos .list-todo:hover .count-list,
#menu .list-todos .list-todo:active .count-list,
#menu .list-todos .list-todo.active .count-list {
    background: #2cc5d2;
}