
#search-results {
    overflow: auto;
    height: auto;
    top: 60px;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;

    h1 {
        text-align: center;
        margin: 20px;
    }
}
