@import "components/flexbox";

#trackQueue {
	@include flex(1 1 auto);

	overflow: auto;
	padding-right: 15px;

	.trackRow {
		color: #fff;
		padding: 0 0;
	}

	.trackRow-albumCover {
		@include flex(0 0 auto);
		margin-right: 15px;
	}

	// .trackRow-artistName {
	// 	color: #ccc;
	// }
}